<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="GBT_C16A">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import GBT_C16A urdf file -->
    <xacro:include filename="$(find gbt_description)/urdf/GBT_C16A.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="GBT_C16A.ros2_control.xacro" />


    <xacro:GBT_C16A_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
